.git/*
../env/
venv/
.env

__pycache__/
*.py[cod]

api_yamdb-master-src/.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

media/

db.sqlite3
/api_yamdb/.env

/static/
/api/migrations/
/users/migrations/
